In [4]:
#Reshaping data using Melt and Pivot
import pandas as pd

#sample Dataframe

data = {
    'Name':['A','B','C'],
    'Math':[85,78,92],
    'Science':[90,82,89],
    'English':[88,85,94]
}

df = pd.DataFrame(data)

#Display dataframe
print(df)

  Name  Math  Science  English
0    A    85       90       88
1    B    78       82       85
2    C    92       89       94

In [6]:
df.melt(id_vars=["Name"], value_vars=["Math","Science","English"], var_name="Subject", value_name="Score")

  Name  Subject  Score
0    A     Math     85
1    B     Math     78
2    C     Math     92
3    A  Science     90
4    B  Science     82
5    C  Science     89
6    A  English     88
7    B  English     85
8    C  English     94

In [10]:
#Use pivot to convert back to the previous datafram state
df.pivot(index="Name", columns="Subject", values="Score", aggfunc="mean") #use aggfunc if there are duplicates

KeyError: 'Subject'